@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    background-color: black;
    color: powderblue;

}
h1 {
    font-weight: 200;
}

h1:hover {
    color: green;
}

#company-img {
    width: 100px;
    height: 100px;
}

#main-div {
    display: flex;
    
}

#left {
    flex: 2;
}

#right {
    flex: 1;
}